.Board {
    position: relative;
    margin: 0 auto;
    background-color: black;
    background-image:
        linear-gradient(#333333 1px, transparent 1px),
        linear-gradient(90deg, #333333 1px, transparent 1px);
}

.Cell {
    background: #ccc;
    position: absolute;
}

.controls > button,input {
    margin: 10px;
}